
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo{
    background-color: gray;
    display:block ;
    border-radius: 0.4em;
    margin-top: 5px;
    height: 600px;
}

.item{
    color: white;
    border: 3px red;
}

.status{
    color: green;
    font-weight: bolder;
}



